/*seletor universal*/
*{
    font-weight: bold;
}

body{
    background: rgb(75, 216, 75);
}

h3{
    color: purple;
    font-family: sans-serif;
}

/*seletor de tag*/
p{
    background-color: #db6478;
    color: white;
}

/*seletor de id*/
#texto{
    color: black;
    background-color: blueviolet;
}

/*seletor de classes*/
.text2{
    color: orange;
    background: whitesmoke;
}

/*seletor de atributos*/
[title]{
    color: #810931
}

[title="maca"]{
    color: red;
}

/*dimensionamento e espaçamento*/
div{
    background: yellowgreen;
    /*largura*/
    width: 300px;
    /*altura*/
    height: 300px;
}

/*margin: espaçamento em volta dos elementos, por fora das bordas*/
/*padding: espaçamento em volta dos elementos, por dentro das bordas*/
#elemento1{
    background-color: rgb(3, 70, 47);
    margin: 45px;
    padding: 20px;
}

#elemento2{
    background-color: #810931;
    margin-top: 10px;
    margin-left: 30px;
    padding-top: 40px;
}